    <table>
        <tr valign="top">
            <td><img src="{{ order.customer.order()) }}"></td>
            <td>{{ order.customer.username }} ordered:<br>{{ order.order }}</td>
        </tr>
    </table>